@font-face {
  font-family: birthday-font;
  src: url(Assets/birthday-font.ttf);
}
body {
  font-family: "birthday-font";
  text-align: center;
  background-image: url("Assets/background-title.png"),
    linear-gradient(#90c5f280 40%, pink);
  background-repeat: no-repeat;
  background-position: 40% 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-image-wrapper {
  position: relative;
}
.background-image {
  position: relative;
  margin: 0;
}

.title-section {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 0%;
}

.title {
  font-size: 50px;
  text-shadow: 0px 0px 10px white;
}
#title-emoji {
  font-size: 40px;
}

.title-picture {
  float: left;
  position: relative;
  width:314px;
  height:314px;

}

.pic-title {
  position: relative;
  width: 300px;
  border: 7px solid pink;
  border-radius: 150px;
  box-shadow: 0px 0px 10px pink;
  margin-bottom: 400px;
}

#mustache {
  position: absolute;
  width: 34px;
  top:80px;
  left: 160px;
  margin: 0;
}

#name {
  position: absolute;
  font-size: 90px;
  top: 150px;
  left: 90px;
  text-shadow: 0px 0px 4px grey;
}

#gift-title {
  font-size: 90px;
}

.gift-style {
  width: 540px;
  height: 390px;
  background-image: url("Assets/present.png");
  background-size: cover;
  margin-bottom: 100px;
  border: 7px solid rgb(203, 1, 1);
  border-radius: 50px;

}

#gift1:hover {
  background: url("Assets/blow.gif");
  background-size: cover;
}

#gift2-title {
  font-size: 50px;
  margin-bottom: 30px;
}

#gift2:hover {
  background: url("Assets/celebtrity-lookalike.png");
}

#gift3-title {
  font-size: 50px;
  margin-bottom: 10px;
}

#gift3:hover {
  background-image: url("Assets/teeth.gif");
}

#exclam {
  font-size: 80px;
}

#gift4-title {
  font-size: 50px;
  margin-bottom: 35px;
}

#gift4 {
  width: 540px;
  height: 390px;
  border: 7px solid rgb(203, 1, 1);
  border-radius: 50px;
  object-fit: cover;
  
}

#gift4:hover {
  background-image: none;
}